#top
#main
  #left
    ul.left-nav
      li
        a.contact(href='/syncweb/contacts')
          span  Contacts
      li
        a.pictures(href='/syncweb/pictures')
          span Pictures
      li
        a.sms(href='/syncweb/sms')
          span   SMS
  #body
    Received a #{status} exception: #{error}
