.centre-outbox
  .centre-inbox
    .content-box
      .login-box
        .login-inner
          a.logo-login(href='#')  logo
          .input-box
            div
              New New password will be sent to email associated with entered number.
            - each error in errors
              div.errormessage
                != error
            form(method='post', action='/syncweb/passwordreset')
              input.input-2(name='user[number]', value=user.number || '', type='text', placeholder='Number')
              button.login-reset(type='submit', value='Send My Password') Send My Password