#top
  .search-box
    form(method='post', action='/syncweb/pictures/op/search/')
      button.search-icon search
      input.input-search(name='searchTerm', type='text')
#main
  #left
    ul.left-nav
      li
        a.contact(href='/syncweb/contacts')
          span  Contacts
      li.active
        a.pictures(href='/syncweb/pictures')
          span Pictures
      li
        a.sms(href='/syncweb/sms')
          span   SMS
  #body
    ul.down-ul
      - each picture in pictures
        !=partial('partials/pictures/single_picture', { picture : picture })
#bottom
  - if (pictures.length != 0)
    a.downlod-all(href='/syncweb/pictures/op/dl') Download all