#top
  //a.add-contact(href='/syncweb/contacts/op/new')
  //  img(src='/assets/img/user-icon.png', alt='')
  //  | Add contact
  .search-box
    form(method='post', action='/syncweb/contacts/op/search/')
      button.search-icon search
      input.input-search(name='searchTerm', type='text')
#main
  #left
    ul.left-nav
      li.active
        a.contact(href='/syncweb/contacts')
          span Contacts
      li
        a.pictures(href='/syncweb/pictures')
          span Pictures
      li
        a.sms(href='/syncweb/sms')
          span SMS
  #body
    - each contact in contacts
      !=partial('partials/contacts/single_contact', { contact : contact })
#bottom
  - if (next != 0)
    a.nextbutton(href='/syncweb/contacts/op/' + pageSize + '/' + next) Next Page
  - else
    a.nextbutton.hidden(href='/syncweb/contacts/op/' + pageSize + '/' + next) Next Page
  - if (prev >= 0)
    a.prevbutton(href='/syncweb/contacts/op/' + pageSize + '/' + prev) Previous Page
  - else
    a.prevbutton.hidden(href='/syncweb/contacts/op/' + pageSize + '/' + prev) Previous Page
  a.import-gmail(href='/syncweb/contacts/op/gmailOAuth') Import Gmail Contacts
  - if (contacts.length != 0)
    a.downlod-all(href='/syncweb/contacts/op/dl') Download all