div
  input.input-2(name='user[number]', value=user.number || '', type='text', placeholder='Number')

div
  input.input-2(name='user[email]', value=user.email || '', type='text', placeholder='Email')

div
  input.input-2(name='user[password]', value=user.password || '', type='password', placeholder='Password')

div
  input.input-2(name='user[password2]', value=user.password2 || '', type='password', placeholder='Confirm Password')