div
  input.input-2(name='user[oldpassword]', '', type='password', placeholder='Old Password')

div
  input.input-2(name='user[password]', '', type='password', placeholder='New Password')

div
  input.input-2(name='user[password2]', '', type='password', placeholder='Confirm Password')